FROM ghcr.io/astral-sh/uv:trixie-slim

ENV UV_PROJECT_ENVIRONMENT="/usr/local"

WORKDIR /tests
COPY test.sh test.sh

WORKDIR /app
COPY data.py data.py
COPY verifier.py verifier.py

RUN uv run {{ requirements }} data.py
